{% extends 'base.html.twig' %} {% block title %}Taste - Best Recipes{% endblock %} {% block body %}
<!--Body-->
<h1 class="text-center border-bottom border-dark pb-2">Try new Recipes:
</h1>
<div class="container mt-5">
    <!--Rows start-->
    <div class="row row-cols-3">
        {% set index = 0 %}
        <!--Loop for recipes-->
        {% for recipe in recipes %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{asset('image/' ~ recipe.image)}}" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text"><i class="fa-regular fa-clock me-2"></i>{{recipe.time}} min</p>
                    <p>{{status[index]}}</p>

                    <!--Buttons-->
                    <a href="/details/{{recipe.id}}"><button type="button" class="btn btn-light">Details</button></a>
                    <a href="/edit/{{recipe.id}}"><button type="button" class="btn btn-light">Edit</button></a>
                    <a href="/delete/{{recipe.id}}"><button type="button" class="btn btn-light">Delete</button></a>
                </div>
            </div>
            {% set index = index+1 %}
        </div>
        {% endfor %}
    </div>
    {% endblock %}