{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock %} {% block body %}
<!--Body-->
<h1 class="text-center border-bottom border-dark pb-2">Try new Recipes:
</h1>
<div class="container mt-5">
    <!--Rows start-->
    <div class="row row-cols-3">
        {% set index = 0 %}
        <!--Loop for recipes-->
        {% for recipe in recipes %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{asset('image/' ~ recipe.image)}}" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text"><i class="fa-regular fa-clock me-2"></i>{{recipe.time}} min</p>
                    {% if status[index] == "want to cook" %}
                    <p><i class="fa-regular fa-heart me-2 text-danger"></i>{{status[index]}}</p>
                    {% else %}
                    <p><i class="fa-regular fa-circle-check me-2 text-success"></i>{{status[index]}}</p>
                    {% endif %}


                    <!--Buttons-->
                    <a href="details/{{recipe.id}}"><button type="button" class="btn btn-light w-100">Details</button></a>


                </div>
            </div>
            {% set index = index+1 %}
        </div>
        {% endfor %}
    </div>
    {% endblock %}